.main-nav {
  padding-top: 19px;
  padding-bottom: 19px;
  background-color: $color-default-black;
  z-index: 1;

  @include vp-1023 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.is-open,
.is-nojs {
  @include vp-1023 {
    background: linear-gradient(to right, $color-turbo 11%, $color-default-black 11%);
    width: 100%;
    position: fixed;
    z-index: 3;
    left: 0;
    top: -70px;
    justify-content: flex-end;
    padding-top: 0;
    padding-bottom: 70px;
    transform: translateY(70px);
    height: 100vh;
    text-align: left;
  }
}

.is-nojs {
  @include vp-1023 {
    position: relative;
    min-height: auto;
  }
}

.main-nav__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.is-open .main-nav__container,
.is-nojs .main-nav__container {
  @include vp-1023 {
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-end;
    padding-top: 70px;
  }
}

.main-nav__list-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;

  @include vp-1023 {
    display: block;
    flex-grow: 0;
  }
}

.is-open .main-nav__list-wrapper,
.is-nojs .main-nav__list-wrapper {
  @include vp-1023 {
    overflow-y: scroll;
    backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;

    padding: 0 0 0 0;
    background-color: $color-default-black;
    width: 89%;
    height: 100vh;
    padding-bottom: 80px;
  }
}

.is-closed .main-nav__list {
  @include vp-1023 {
    display: none;
  }
}

.is-open .main-nav__list,
.is-nojs .main-nav__list {
  @include vp-1023 {
    display: block;
    padding: 0 0 0 0;
  }
}

.main-nav__logo {
  width: 120px;
  height: 35px;
  display: flex;
  flex-shrink: 1;

  @include vp-1023 {
    display: block;
    position: absolute;
    top: 20px;
  }
}

.is-open .main-nav__logo,
.is-nojs .main-nav__logo {
  @include vp-1023 {
    display: block;
    left: 16%;
  }
}

.is-open svg,
.is-nojs svg {
  @include vp-1023 {
    fill: $color-default-white;
  }
}

.main-nav__toggle {
  display: none;

  @include vp-1023 {
    display: block;
    position: absolute;
    right: 35px;
    top: 0;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 11;
    width: 43px;
    height: 64px;
    background-color: transparent;
  }

  @include vp-767 {
    right: 15px;
  }
}

.is-closed .main-nav__toggle::before {
  @include vp-1023 {
    content: "";
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 1px;
    background-color: $color-default-white;
    box-shadow: 0 6px 0 0 $color-default-white, 0 12px 0 0 $color-default-white;
  }
}

.is-open .main-nav__toggle {
  @include vp-1023 {
    background-size: 15px 15px;
    background-image: url("../img/svg/icon-close.svg");
    background-color: $color-default-black;
  }
}

.is-nojs .main-nav__toggle {
  @include vp-1023 {
    display: none;
  }
}

.main-nav address {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  font-style: normal;
  justify-content: space-between;
}
