.page-header {
  line-height: 24px;
  color: $color-default-white;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  background-color: $color-turbo;
}

.page-header::before {
  content: "";
  width: 100%;
  height: 97px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 10px;
  left: 0;
  background-image: url("../img/content/vector.png");
  position: absolute;
  z-index: 1;

  @include vp-1023 {
    top: -5px;
  }
}
