.promo {
  padding: 112px 0 112px 0;
  background-color: $color-default-black;
  position: relative;
  top: -1px;

  @include vp-1023 {
    padding: 80px 0 82px 0;
  }

  @include vp-767 {
    padding: 10px 0 72px 0;
  }
}

.promo h2 {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  text-transform: uppercase;
  margin-bottom: 77px;

  @include vp-1023 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 75px;
  }

  @include vp-767 {
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 65px;
  }
}

.promo p {
  margin: 0;
  font-size: 18px;
  line-height: 21px;

  @include vp-1023 {
    font-size: 16px;
    line-height: 19px;
  }
}

.promo span {
  display: block;
  color: $color-selective-yellow;
}

.promo__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 56px;

  @include vp-767 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
  }
}

.promo__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 110px;

  &:last-child {
    margin-right: 0;
  }

  @include vp-1023 {
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }
  }

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 70px;
  }
}

.promo__image-container {
  margin-bottom: 78px;

  @include vp-1023 {
    margin-bottom: 68px;
  }

  @include vp-767 {
    margin-bottom: 25px;
  }
}

.promo__content--nootris .promo__image-container {
  margin-bottom: 45px;

  @include vp-1023 {
    margin-bottom: 35px;
  }
}

.promo__content--nootris p {
  margin: 0;
  font-size: 48px;
  line-height: 57px;
  display: flex;
  align-items: center;
  margin-bottom: 51px;
  padding-left: 18px;

  @include vp-1023 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 20px;
  }

  @include vp-767 {
    font-size: 26px;
    line-height: 35px;
  }
}

.promo__content del {
  font-size: 36px;
  line-height: 43px;
  color: $color-dark-gray;
  margin-right: 44px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 33px;
    margin-right: 22px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 27px;
  }
}

.promo__info-wrapper p {
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 8px;
  padding-left: 0;
  margin-left: -12px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 33px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 31px;
  }
}

.promo__info-wrapper span {
  font-size: 24px;
  line-height: 28px;

  @include vp-1023 {
    font-size: 16px;
    line-height: 20px;
  }
}

.promo__alert {
  background-color: $color-selective-yellow;
  color: $color-black;
  padding: 20px 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 250px;
  transform: translate(-50%, -50%);
  border-radius: 7px;
  margin: auto;
  display: none;
  z-index: 44;
}

@keyframes bounce {
  0% {
    transform: translate(-50%, -1000px);
  }

  70% {
    transform: translate(-50%, -30px);
  }

  90% {
    transform: translate(-50%, -10px);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

.promo__alert.is-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.7s;
}
