.site-list {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.site-list li {
  margin: 9px 0 9px 45px;

  @media (max-width: 1325px) {
    margin: 9px 0 9px 24px;
  }

  @include vp-1179 {
    margin: 9px 0 9px 14px;
  }

  @include vp-1023 {
    margin: 16px 35px 0 50px;

    &:last-child {
      padding-bottom: 16px;
    }
  }

  @include vp-767 {
    margin-left: 35px;
  }
}

.site-list a {
  display: flex;
  text-align: left;
  color: $color-default-white;
  white-space: nowrap;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.8;
  }

  @include vp-1240 {
    font-size: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    position: relative;
  }
}
